{% extends 'base.html.twig' %}

{% block title %}Affichage de l'animal {% endblock %}
{% block monTitre %}Affichage de l'animal {{animal.nom}} {% endblock %}

{% block body %}
<div class="row align-items-center">
    <div class="col-2 text-center">
        <img class= "p-2 m-2" src={{ asset('images/' ~ animal.image) }}>
    </div>
    <div class="col-auto">
        <div>Description : {{ animal.description }}</div>
        <div>Poids : {{ animal.poids }}</div>
        <div>Dangereux :
            {% if animal.dangereux %}
            <span class = "badge badge-danger">OUI</span>
            {% else %}
            <span class = "badge badge-success">NON</span>
            {% endif %}
        </div>
         <div><a href="{{ path('afficher_famille', {'id':animal.famille.id})}}" class = "btn btn-primary">{{animal.famille.libelle}}</a></div>
         {% for continent in animal.continents %}
             <a href={{ path('afficher_continent', {'id': continent.id}) }} class= "btn btn-warning mt-1">{{continent.libelle}}</a> 
        {% endfor %}
    </div>
    <div class="container mx-left mr-5">
        {% for dispose in animal.disposes %}
            <a href="{{ path('afficher_personne',{'id': dispose.personne.id})}}" class="btn btn-info">{{dispose.personne.nom}}</a>
        {% endfor %}
    </div>
 </div>
{% endblock %}
